.gradle/
gradle
gradlew
gradlew.bat
build/
.idea/
*.iml
*.log
**/.gitkeep
.DS_Store
Thumbs.db
.gradle-user-home/
logs
**/build/
*/build/
**/node_modules/
*/node_modules/
.project
.settings/
**/*.log
**/*.log.*
**/*.py
**/*.ps1
.preferences
services/monolith-service/src/main/resources/static/
**/bin/
.codeartsdoer
.jlsp
.junie
.arts/
keys/
.vscode/
.**/
src/main/resources/static/
key.txt
**/*.bak
token.txt
CLAUDE_HELP_ZH.md
CLAUDE_HELP.md
CLAUDE_ZH.md
CLAUDE.md
.deepseek/
AGENTS.md